<fieldset class="export-sizes">
    <legend><%=Strings.EXPORT_SIZES_LEGEND%></legend>
    <div class="export-size-row row">
        <div class="column-4-hand">
            <div class="box label nowrap"><%=Strings.SIZE%></div>
        </div>
        <div class="column-1-hand"></div>
        <div class="column-5-hand">
            <div class="box label nowrap"><%=Strings.SUFFIX%></div>
        </div>
        <div class="column-1-hand">
            <div class="add-size"></div>
        </div>
        <div class="column-1-hand right-hand"></div>
    </div>
    <div class="export-size-list"></div>
</fieldset>
