<div class="asset">
    <div class="layer">
        <div class="thumbnail">
            <div class="thumbnail-img"></div>
        </div>
        <div class="info">
            <section>
                <span class="title"><%-name%></span>
                <span class="icon-alert non-exportable-alert <% if (hideExportWarning) { %>hide<% } %>" />
            </section>
            <section class="lighttext">
                <span class="fileformat"><%-extension%></span>
                <span class="dimensions"><%-size%></span>
                <span class="filesize"><%-filesize%></span>
            </section>
        </div>
    </div>
</div>
